<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Eats</title>
    <link rel="stylesheet" type="text/css" href="css/loc.css">
</head>
<body>
  <header>
    <h1><a href="/">Random Eats</a></h1>
    <h4>by location</h4>
  </header>

  <form action="/data" method="POST">
    <p>What's your location?</p>
    <input type="text" name="zip" id="zip" maxlength="30" required placeholder="Greenpoint, Brooklyn">
    <br> 

    <input type="number" name="price">
    <button type="submit">Choose!</button>
    <br> 
    </form>
    <div id="output"> 
      {{#if name}}
      <div class="left">
        <img src="{{imgUrl}}" alt="{{name}}">
      </div>

      <div class="right">
        <div class="rcon">
        <div id="name"><a href="{{url}}">{{name}}</a></div>

        <div id="address">
          <a href="https://maps.google.com/?q={{address1}}{{address2}}">
            <address> 
              {{address1}}
              <br>
              {{ address2}}
            </address>
          </a>
        </div>

        <div><a type="tel" href="tel:{{phone}}">{{phone}} </a></div>

        {{#if rating}}
          <p id="rating">Rating: {{rating}} Stars</p>
        {{/if}}

        {{#if price}}
          <p> Price: {{price}} </p>
        {{/if}}
        </div>
      </div>
      {{/if}}
    </div>
</body>
</html>
