body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
  }
  
  header, form {
    margin: 0 auto;
    text-align: center;
  }
  
  button{
    padding: 2vh 2vw;
    font-size: 2rem;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    border-color: lightgrey;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }