body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

header, form {
  margin: 0 auto;
  text-align: center;
}

button{
  padding: 2vh 2vw;
  font-size: 2rem;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  border-color: lightgrey;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

#zip {
  margin-bottom: 5vh;
}

#output {
  margin: 5vh 0 0 5vw;

  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 45vh;
}

.right{
  margin-left: 15%;
  text-align: center;
}

.rcon {
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.rcon > div {
  margin: 2vh 0;
}

.left > img {
  width: 35vw;
}


/* media queries */

/* iPad */
@media (max-width: 768px) {
  #output {
    width: 100vw;
    font-size: 1rem;
    margin: 5vh 0 0 0;
    grid-template-columns: 45vh;
    grid-template-rows: 45% 45%;
  }

  .right {
    margin: 3vh 0 0 15vw;
    width: 75vw;
  }

  .left > img {
    margin: 1vh 0 0 20vw;
    width: 100%;
  }
}


/* phones */
@media (max-width: 414px) {
  #output {
    width: 100vw;
    font-size: 1rem;
    margin: 5vh 0 0 0;
    grid-template-columns: 45vh;
    grid-template-rows: 45% 45%;
  }

  .right {
    grid-row: 1/2;
    margin: 3vh 0 0 0vw;
    width: 95vw;
  }

  .left > img {
    grid-row:-2/-1;
    margin: 1vh 0 0 0vw;
    width: 95vw;
  }
}